.cartel {
  background-color: rgba(6, 166, 240, 0.883) !important;
}

.contenttitle {
  position: absolute;
  bottom: -305px;
  left: -85px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  line-height: 20px;
  font-family: "Muli";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  /* height: 170px; */
  overflow: hidden;
  color: #ffffff !important;
  border-bottom: 3px solid rgb(6, 114, 255);
}

.contenttop {
  position: absolute;
  bottom: -310px;
  left: -260px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  line-height: 40px;
  font-family: "Muli";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  /* height: 0px; */
  overflow: hidden;
  border-left: 5px solid rgb(6, 114, 255);
  padding-left: 3px;
}

.contentbtn {
  position: absolute;
  bottom: -310px;
  left: 230px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  line-height: 40px;
  font-family: "Muli";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  /* height: 100px; */
  overflow: hidden;
}

@media only screen and (max-device-width: 375px) {
  .contentbtn {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 20px;
    font-family: "Muli";
    color: #ffffff;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    height: 160px;
    overflow: hidden;
    text-align: center;
  }

  .contenttop {
    position: absolute;
    top: calc(50% - 70px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 20px;
    font-family: "Muli";
    color: #ffffff;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    height: 160px;
    overflow: hidden;
    border-left: none !important;
  }

  .contenttitle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 20px;
    font-family: "Muli";
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    height: 170px;
    overflow: hidden;
    border-bottom: none !important;
  }

  .visibletitle {
    font-weight: 300;
    overflow: hidden;
    height: 24px;
    padding: 0 10px;
  }

  .ullititle {
    line-height: 20px;
    margin: -2px;
  }

  .visibletitle:before {
    content: "[";
    left: 0;
    line-height: 25px;
  }
  .visibletitle:after {
    content: "]";
    position: absolute;
    right: 0;
    line-height: 25px;
  }
  .visibletitle:after,
  .visibletitle:before {
    position: absolute;
    top: 0;
    color: #00c0ef;
    font-size: 45px;
    -webkit-animation: 2s linear 0s normal none infinite opacity;
    animation: 2s linear 0s normal none infinite opacity;
  }
}

.visibletitle {
  font-weight: 300;
  overflow: hidden;
  height: 35px;
  padding: 0 10px;
}

.ptitle {
  display: inline;
  float: left;
  margin: 0;
}

.ultitle {
  margin-top: 0;
  padding-left: 0px;
  text-align: center;
  list-style: none;
  -webkit-animation: 7s linear 0s normal none infinite change;
  animation: 7s linear 0s normal none infinite change;
}

.ullititle {
  line-height: 42px;
  margin: -4px;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%,
  12%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  17%,
  29% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  34%,
  46% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  51%,
  63% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
  68%,
  80% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  85%,
  97% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}
@keyframes change {
  0%,
  12%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  17%,
  29% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  34%,
  46% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  51%,
  63% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
  68%,
  80% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  85%,
  97% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}
